@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "../bower_components/bitters/app/assets/stylesheets/base";

body {
  background: #E7F1EC;
}
.error {
  color: #F55481;
}
.button {
  @include span-columns(12);
  margin-top: 30px;
  background: #F78787 !important;
}
.registerd {
  color: #F55481;
  position: absolute;
  top: -50px;
  left: 0;
}
.heading {
  height: 200px;
}
h2 {
  color: #FFFFFF;
}
.form-heading {
  color: white;
  height: 80px;
}
.text-center {
  text-align: center;
}
.registerform {
  position: relative;
  @include outer-container;
  @include span-columns(4);
  @include shift(4);
  background: #5B5E63;
  padding: 50px;
  border-radius: 5px;
  color: white;
}

.form-g {
  @include span-columns(12);
  @include omega(2n);
}

.form-f {
  @include span-columns(6);
}
